.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.InputElement {
    width: 100%;
    display: block;
    outline: none;
    border: 1px solid #ccc;
    background: white;
    font: inherit;
    padding: 6px 10px;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background: #ccc;
}

.Invalid {
    border: 1px solid red;
    background: salmon;
}

.ValidationError {
    color: red;
    margin: 5px 0;
} 